_site
Checklist.txt
.jekyll-cache
.sass-cache
.jekyll-metadata
assets/img/photosPage/psds/vertical.afphoto
assets/img/photosPage/psds/horizontal.afphoto
assets/img/photosPage/psds/square pics.afphoto
assets/img/photosPage/psds/horizontal med.afphoto
