---
title: Cast
permalink: /cast/
---

{% include head.html %}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '453680605880018');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=453680605880018&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photos.html">Photos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="/cast">Cast</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid" id="snow2">
  <div class="container pb-5 bg-white">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5 pb-3 main-text display-3">Meet Our Cast!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/vZc0s70/sophia.jpg"
          alt="Sophia Carraro"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Sophia Carraro</strong> is the owner and founder and President
          of Sophia's Magical Princess Party! Sophia took a short leave from
          February-August 2019 while she participated in the Disney College
          Program! Usually you'd see her as most characters offered. She attends
          College of the Mainland where she is majoring in theatre arts. Sophia
          knows basic American Sign Language an will definitely put her skills
          to use! She can't wait to be a part of your princess's special day!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/RPLyfQn/abbyresize.jpg"
          alt="Abigail Heisler"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Abigail Heisler</strong> is a proud full-time performer for Sophia's Magical
          Princess Party. Her roles consist of The Beauty Princess and
          Sleeping Beauty. She is a student at the University of
          Houston and is a Teaching Assistant at Bunker Hill Kindercare. She is also a big sister to 5 kids!
          Abigail anticipates creating magical moments with your children that will make their dreams come true!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/yhxFmJq/olivia.jpg"
          alt="Olivia Bell"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Olivia Bell</strong> is a seasonal performer for Sophia's Magical
          Princess Party. She is seen mostly as The Snow Princess and The Beauty
          Princess. In her free time she is very big into acting and singing, as
          well as working her other job at Break Free Escape Room. Olivia can't
          wait to help make your child's event magical!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/VHGXGtr/rachel.jpg"
          alt="Rachel Greeney"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Rachel Greeney</strong> is a seasonal performer for Sophia's Magical Princess Party.
          Rachel's love of kids and music is the reason they are pursuing a Music Education degree at Sam Houston. 
          You can see her playing Snow White, The Little Mermaid, and The Snow Princess.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/FwzvF7Q/jake.jpg"
          alt="Jake Wadkins"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Jake Wadkins</strong> is a seasonal performer, and is proud to be a part of the cast as the
          Sailor Prince and Prince Charming! Jake has been working with children
          for many years and has been bringing amazing characters to life for even longer. 
          Jake has worked as a Para-Professional to young General Ed. and
          Special Ed. students to help them broaden their social skills and
          become more loving humans. Jake cannot wait to help your child have a
          fantastic and magical party on their very special day!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/5TBpVNw/nayelly.jpg"
          alt="Nayelly Ortiz"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Nayelly Ortiz</strong> is a full-time performer at Sophia's Magical
          Princess Party! She is seen playing as The Polynesian Princess, The Arabian Princess, The Latina Princess and more. 
          She loves theatre, dance and anything that is allowing her to exercise her creative side. 
          She is currently in school studying for a bachelors in business marketing and hopes to someday 
          own a local coffee shop. She started singing and dancing at a young age and is excited to meet your young ones soon!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/W2CyK8n/taylor-resize.jpg"
          alt="Taylor Greny"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Taylor Greny</strong> is a seasonal performer, and is so happy to be a part of Sophia's
          Magical Princess Party! She's seen as The Scottish Princess, The Little Mermaid and others. She's currently studying a BFA in Acting and spends her afternoons drawing and crocheting.
          She's so excited to make your childs perty absolutely enchanted. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/Tc83s0P/layah.jpg"
          alt="Layah Brown"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Layah Brown</strong> is a proud full-time performer for Sophia's Magical Princess Party!
          They can be seen playing The Bayou Princess and others. Their entire life revolves around choir, as they are the Choir President
          at Clear Creek High School. Layah can not wait to bring life and magic into your child's celebration.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/vL2bCcS/teja.jpg"
          alt="Teja Lane"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Teja Lane</strong> is a full-time performer for Sophia's Magical Princess Party! She is a student at San Jacinto College and is studying communications with a focus in marketing. 
          She has been performing for over 10 years in various different musicals and plays. Some of her favorite roles being “Gabrielle” in Cinderella, “Ariel” in footloose, 
          and “Toffee” in Zombie Prom. She’s also a self-proclaimed Princess addict and has always loved Princess movies. 
          She hopes she can bring a little bit of magic to your little ones special day!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/CVxpsM9/natalia.jpg"
          alt="Natalia Soriano"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Natalia Soriano</strong> is a full-time performer for SMPP. You can see her playing The Little Mermaid, The Latina Princess and more! 
          Natalia has been involved with theatre for 10 years and was a camp counselor for the YMCA for one. Natalia couldn’t be more excited to be back with SMPP!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img
          src="https://i.ibb.co/syLmGfW/savannah.jpg"
          alt="Savannah Leary"
          class="img-thumbnail rounded"
        />
      </div>
      <div class="col-lg-9 text-center">
        <p class="mt-5">
          <strong class="main-text">Savannah Leary</strong> is a full-time performer for Sophias Magical Princess Party! Her roles consist of The Snow Princess and Rapunzel. 
          She is a senior in high school who is part of the PALs program, where she mentors children. 
          In her free time, you can find her dancing at the studio, singing in choir, or playing with her dogs! Savannah cannot wait to make your event magical!
        </p>
      </div>
    </div>
  </div>  
</div>


{% include footer.html %}