---
title: Cast
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="characters.html">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="photos.html">Photos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="cast.html">Cast</a>
          <span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Meet Our Cast!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/sophia.jpg"
        alt="Sophia Carraro"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Sophia Carraro</strong> is the owner and founder and President
        of Sophia's Magical Princess Party! Sophia took a short leave from
        Februrary-August 2019 while she participated in the Disney College
        Program! Usually you'd see her as most characters offered. She attends
        College of the Mainland where she is majoring in theatre arts. Sophia
        knows basic American Sign Language an will definitely put her skills
        to use! She can't wait to be a part of your princess's special day!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/olivia.jpeg"
        alt="Olivia Bell"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Olivia Bell</strong> is the Vice President of Sophia's Magical
        Princess Party. She is seen mostly as The Snow Princess and The Beauty
        Princess. In her free time she is very big into acting and singing, as
        well as working her other job at Break Free Escape Room. Olivia can't
        wait to help make your child's event magical!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/abigail.jpeg"
        alt="Abigail Heisler"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Abigail Heisler</strong> is a proud member of Sophia's Magical
        Princess Party, her roles consist of The Beauty Princess and
        occasionally the Snow Princess. She is a student at the University of
        Houston and a big sister to 5 kids. Her favorite part about being a
        part of Sophia's Magical Princess Party is the good company she keeps
        around.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/rachel.jpeg"
        alt="Rachel"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Rachel Greeney</strong> is just so excited to be a part of
        SMPP and be a princess! Her love for kids has inspired her to pursue a
        career in teaching. Rachel is an officer for orchestra at Clear
        Springs High School and has been involved in theatre for 6 years!
        Rachel can be seen as many chaeacters including Cinderella, The
        Scottish Princess, and many others!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/jake.jpg"
        alt="Jake Wadkins"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Jake Wadkins</strong> is proud to be apart of the cast as the
        Sailor Prince and Prince Charming! Jake has been working with children
        for 5 years and has been bringing amazing characters to life for the
        past 8. Jake works as a Para-Professional to young General Ed. and
        Special Ed. students to help them broaden their social skills and
        become more loving humans. Jake cannot wait to help your child have a
        fantastic and magical party on their very special day!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/nayelly.jpg"
        alt="Nayelly Ortiz"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Nayelly Ortiz</strong> is a princess at Sophia's Magical
        Princess Party! She is seen playing as The Polynesian Princess. She
        loves theatre and is a theatre officer at her high school. She started
        dancing when she was four and is so excited to dance and have a
        magical time at your kids' birthdays!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/taylor.jpg"
        alt="Taylor Greny"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Taylor Greny</strong> is so happy to be a part of Sophia's
        Magical Princess Party! She's seen as The Snow Princess and The Little
        Mermaid, but can be seen as other characters as well. She's a musical
        theatre nerd, and is very involved in both Theatre and Choir
        departments at her school and HSMT. She's so excited to make your
        child's party absolutely enchanted!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <img
        src="assets/img/cast/grace.jpg"
        alt="Grace Windhan"
        class="img-thumbnail rounded"
      />
    </div>
    <div class="col-lg-9 text-center">
      <p class="mt-5">
        <strong>Grace Windhan</strong> can be seen playing The Scottish
        Princess, The Beauty Princess, and The Snow Princess sometimes as
        well! Grace attends Clear Springs High School as a junior and full
        time theatre student!
      </p>
    </div>
  </div>
</div>

{% include footer.html %}