---
title: Characters
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="characters.html">Characters</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cast.html">Cast</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Snow Queen</h1>
      <img
        src="assets/img/characterPage/SnowQueen.jpeg"
        class="img-fluid"
        alt="The Snow Queen"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Beauty Princess</h1>
      <img
        src="assets/img/characterPage/BeautyPrincess.jpeg"
        class="img-fluid"
        alt="The Beauty Princess"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Snow Princess</h1>
      <img
        src="assets/img/characterPage/SnowPrincess.jpeg"
        class="img-fluid"
        alt="The Snow Princess"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Polynesian Princess</h1>
      <img
        src="assets/img/characterPage/PolynesianPrincess.jpeg"
        class="img-fluid"
        alt="The Polynesian Princess"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Rapunzel</h1>
      <img
        src="assets/img/characterPage/Rapunzel.jpeg"
        class="img-fluid"
        alt="Rapunzel"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Cinderella (Classic)</h1>
      <img
        src="assets/img/characterPage/classCinderella2.jpg"
        class="img-fluid"
        alt="Cinderella (Classic)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Little Mermaid (Human)</h1>
      <img
        src="assets/img/characterPage/HumMermaid.jpeg"
        class="img-fluid"
        alt="The Little Mermaid (Human)"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Prince Charming</h1>
      <img
        src="assets/img/characterPage/Charming.jpeg"
        class="img-fluid"
        alt="Prince Charming"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Little Mermaid</h1>
      <img
        src="assets/img/characterPage/MerMermaid.jpeg"
        class="img-fluid"
        alt="The Little Mermaid"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Cinderella (New Dress)</h1>
      <img
        src="assets/img/characterPage/NewCinderella.jpeg"
        class="img-fluid"
        alt="Cinderella (New Dress)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Sailor Prince</h1>
      <img
        src="assets/img/characterPage/Sailor.jpeg"
        class="img-fluid"
        alt="Sailor Prince"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">The Scottish Princess</h1>
      <img
        src="assets/img/characterPage/ScottishPrincess.jpg"
        class="img-fluid"
        alt="The Scottish Princess"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Sleeping Beauty</h1>
      <img
        src="assets/img/characterPage/SleepingBeauty.jpeg"
        class="img-fluid"
        alt="Sleeping Beauty"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="mt-5">Snow White</h1>
      <img
        src="assets/img/characterPage/snowWhite2.jpg"
        class="img-fluid"
        alt="Snow White"
      />
    </div>
  </div>
</div>

{% include footer.html %}