---
title: Characters
permalink: /characters/
---

{% include head.html %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '453680605880018');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=453680605880018&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="/characters">Characters</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cast">Cast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid" id="rapunzel">
  <div class="container bg-white py-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="photos-text display-3 mb-0">Characters</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Snow Queen</h1>
        <img
          src="https://i.ibb.co/ygFK5xb/Snow-Queen2.jpg"
          class="img-fluid"
          alt="The Snow Queen"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Beauty Princess</h1>
        <img
          src="https://i.ibb.co/H7q8yvQ/Beauty-Princess2.jpg"
          class="img-fluid"
          alt="The Beauty Princess"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Snow Princess</h1>
        <img
          src="https://i.ibb.co/LnK5FkR/snow-princess-new.jpg"
          class="img-fluid"
          alt="The Snow Princess"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Polynesian Princess</h1>
        <img
          src="https://i.ibb.co/JRNKnd3/Polynesian-Princess.jpg"
          class="img-fluid"
          alt="The Polynesian Princess"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Rapunzel</h1>
        <img
          src="https://i.ibb.co/v194mMg/Rapunzel.jpg"
          class="img-fluid"
          alt="Rapunzel"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Cinderella (Classic)</h1>
        <img
          src="https://i.ibb.co/4KsXRK8/class-Cinderella2-crop.jpg"
          class="img-fluid"
          alt="Cinderella (Classic)"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Little Mermaid (Human)</h1>
        <img
          src="https://i.ibb.co/1Tqr6BC/Hum-Mermaid.jpg"
          class="img-fluid"
          alt="The Little Mermaid (Human)"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Prince Charming</h1>
        <img
          src="https://i.ibb.co/N68PT9v/Charming.jpg"
          class="img-fluid"
          alt="Prince Charming"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Little Mermaid</h1>
        <img
          src="https://i.ibb.co/fCrTCC0/Mer-Mermaid.jpg"
          class="img-fluid"
          alt="The Little Mermaid"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Cinderella (New Dress)</h1>
        <img
          src="https://i.ibb.co/VVN9X2c/New-Cinderella.jpg"
          class="img-fluid"
          alt="Cinderella (New Dress)"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Sailor Prince</h1>
        <img
          src="https://i.ibb.co/QDd6szC/Sailor.jpg"
          class="img-fluid"
          alt="Sailor Prince"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">The Scottish Princess</h1>
        <img
          src="https://i.ibb.co/ynq1ktF/Scottish-Princess2.jpg"
          class="img-fluid"
          alt="The Scottish Princess"
          width="259" height="258"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Sleeping Beauty</h1>
        <img
          src="https://i.ibb.co/m8YbWNM/Sleeping-Beauty.jpg"
          class="img-fluid"
          alt="Sleeping Beauty"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Snow White</h1>
        <img
          src="https://i.ibb.co/ryNKnTp/snow-White2-crop.jpg"
          class="img-fluid"
          alt="Snow White"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Bayou Princess</h1>
        <img
          src="https://i.ibb.co/d61YLZT/Bayou-Princess.jpg"
          class="img-fluid"
          alt="Bayou Princess"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="mt-5 sub-text">Latina Princess</h1>
        <img
          src="https://i.ibb.co/724GsBS/latima-princess.jpg"
          class="img-fluid"
          alt="Latina Princess"
        />
      </div>
    </div>
  </div>  
</div>


{% include footer.html %}