---
title: Contact Us
permalink: /contact/
---

{% include head.html %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '453680605880018');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=453680605880018&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cast">Cast</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="/contact">Contact Us</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
  <div class="container pb-5 px-5 bg-white">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="photos-text display-3 pt-5 pb-2">Contact Us!</h1>
      </div>
    </div>
    <div class="container">
  <!-- <form action="https://getform.io/f/12961468-d9c8-4395-94e2-6e45cb99be40" method="POST">
    <div class="form-row">
      <div class="form-group col">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" name="First Name">
      </div>
      <div class="form-group col">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" name="Last Name">
      </div>  
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="exampleFormControlTextarea1">Tell Us About Your Party</label>
        <textarea class="form-control" rows="6" name="details" placeholder="Please tell us you child's name, age, the date and time of the party, location of the party, the desired character(s), as well as any other details you want us to kno about the party..."></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group form-check col">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control"  aria-describedby="email" placeholder="Email" name="Email">
      </div>
    </div>
    <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
    <div class="row text-center">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
  </form>   -->
      <form class="" target="_self" enctype="multipart/form-data" action="https://formkeep.com/f/229a492b6506" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
        <fieldset>
          <div class="form-row">
            <div class="form-group col" id="First_Name__div">
              <label title="required" for="First_Name">First Name *</label>
              <input type="text" name="First Name" id="First_Name" required="required" autofocus="autofocus" class="form-control" />
            </div>
            <div class="form-group col" id="Last_Name__div">
              <label title="required" for="Last_Name">Last Name *</label>
              <input type="text" name="Last Name" id="Last_Name" required="required" class="form-control" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col" id="Requested_Date__div">
              <label title="required" for="Requested_Date">Requested Date *</label>
              <input type="date" name="Requested Date" id="Requested_Date" required="required" class="form-control" />
            </div>
            <div class="form-group col" id="Requested_Time__div">
              <label title="required" for="Requested_Time">Requested Time *</label>
              <input type="time" name="Requested Time" id="Requested_Time" required="required" class="form-control" />
            </div>
            <div class="form-group col" id="Party_Location_Zipcode__div">
              <label title="required" for="Party_Location_Zipcode">Party Location Zipcode *</label>
              <input type="text" name="Party Location Zipcode" id="Party_Location_Zipcode" required="required" pattern="[0-9]*" inputmode="numeric" class="form-control" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col" id="Tell_Us_About_Your_Party__div">
              <label title="required" for="Tell_Us_About_Your_Party">Tell Us About Your Party *</label>
              <textarea rows=6 name="Tell Us About Your Party" id="Tell_Us_About_Your_Party" required="required" placeholder="Please tell us your child's name, age, planned location of the party, and any desired characters, as well as any other details you want us to know..." class="form-control"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col" id="Your_Email__div">
              <label title="required" for="Your_Email">Your Email *</label>
              <input type="email" name="Your Email" id="Your_Email" required="required" class="form-control" />
            </div>
          </div>
          <br>
          <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0">
            <label for="subscribe_229a492b6506_39121"></label>
            <input name="subscribe_229a492b6506_39121" value="" tabindex="-1" autocomplete="off"
              type="email" id="email_subscribe_229a492b6506_39121" placeholder="Your email here">
          </div>
          <div class="row justify-content-center">
            <div class="col-xs-12">
              <input type="submit" value="Submit" class="btn btn-block btn-primary" data-disable-with="Submit" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
    


    <div class="row text-center">
      <div class="col-lg-6">
        <p>
          <strong>Call or Text: </strong
          ><br><a href="tel:832-441-6539">832-441-6539</a>
        </p>
        <p>
          <strong>Email: </strong
          ><br><a href="mailto:sophiasmagicalprincessparty@gmail.com"
            >sophiasmagicalprincessparty@gmail.com</a
          >
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <strong>Facebook</strong>:
          <br>
          <a href="https://www.facebook.com/sophiasmagicalprincessparty/"
            >Sophia's Magical Princess Party</a
          >
        </p>
        <p>
          <strong>Instagram</strong>:
          <br>
          <a href="https://www.instagram.com/sophiasprincessparty/?hl=en"
            >@sophiasprincessparty</a
          >
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="https://www.facebook.com/sophiasmagicalprincessparty/"
          ><i class="fa fa-facebook fa-3x px-3" aria-hidden="true"></i
        ></a>
        <a href="https://www.instagram.com/sophiasprincessparty/?hl=en"
          ><i class="fa fa-instagram fa-3x px-3" aria-hidden="true"></i
        ></a>
        <a href="mailto:sophiasmagicalprincessparty@gmail.com"
          ><i class="fa fa-envelope fa-3x px-3"></i
        ></a>
        <a href="tel:832-441-6539">
          <i class="fas fa-phone fa-3x px-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>



{% include footer.html %}