---
title: COVID Requirements
permalink: /covid/
---

{% include head.html %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '453680605880018');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=453680605880018&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="/rates">Rates</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cast">Cast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<!-- Fix Jewel and remove blue bar -->
<div class="container-fluid" id="elsa">
    <div class="container pb-5 bg-white">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 rates-text display-3">Social Distanced Party Overview</h1>
            </div>
        </div>

        <div class="row px-5 mt-5">
            <div class="col-lg-12">
                <p class="lead font-weight-bold">
                    Our social distanced parties have been designed to keep the same fun activities of our “normal” parties while keeping everyone safe. Let’s go over some of that!
                </p>
                <p>
                    <strong>Time:</strong> These parties are 20-30 minutes long as opposed to our regular hour long party. This is due to a couple things. These parties must occur outside to make social distancing easier. Outdoor weather conditions may be questionable (too hot or too cold) so we must shorten the party for everyone’s comfort. Also due to not being able to hug/hold hands/etc, it eliminates a lot of time. We’ve measured 20-30 minutes it’s perfect for the activities we can still do (sing-a-long, story time) and social distanced pictures. 
                </p>
                <p>
                    <strong>Location:</strong> We’re flexible with locations as long as they are outdoors. Public parks and front yards are perfect. Backyards are acceptable too as long as we can arrive through a gate and not through the house. Another idea: if you have a garage that can be used as a hang out area, put a child/puppy gate up at the garage entrance. Keep the kids inside the garage and let the princess perform from the driveway. This makes for an easy social distanced experience! If there’s a chance of rain, please consider making arrangements to accommodate. Finding a park with covered seatings areas, or if your backyard (or someone you know) has a covered patio. If we cannot make rain arrangements for outside, we’ll have to reschedule or cancel.
                </p>
                <p>
                    <strong>Activities:</strong> We are able to continue our main activities from our “normal” parties. We do sing-a-long, story time, and pictures (social distanced). Those activities typically take up the 20-30 minutes. We are open to singing happy birthday with the cake as long as it can take place outdoors in the location we agree on. Same with opening presents. If you’d like to add one of these activities (or have another suggestion), let us know and we’ll see how much time we need (this may affect price).
                </p>
                <p>
                    <strong>Pricing:</strong> Typically, we charge $150 for a “normal” one hour one character party. Due to the inconvenience of social distancing and the time cut, we’ve discounted our social distanced parties to $120. This is the biggest discount we can give while still paying our performers, attendants, and company. Tips are not required but greatly appreciated! Adding characters is $40 per extra character. For example, a social distanced party with The Snow Queen and her Sister would be $160 which is usually priced at $250. Travel fees still apply to locations 30 minutes away from our location in League City. Check our website for details on travel fees or ask us.
                </p>
                <p>
                    <strong>Our Rules:</strong> If you book a social distanced party or event, this means you are agreeing to following social distancing rules. Please help keep your children a few feet away. Masks for children and adults are very encouraged. If we feel uncomfortable by anyone breaking social distancing we will leave the party. We just want to keep everyone safe! If you’d like for the princess(es) to wear a mask please let us know; otherwise she will not wear one for the social distanced party.
                </p>
                <p>
                    Thank you for reading and considering booking with us at such a wild time! We greatly appreciate it and hope to work with you. 
                </p>
                <p>
                    -Sophia’s Magical Princess Party
                </p>    
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a
                  class="btn btn-primary btn-lg"
                  href="javascript:history.back()"
                  role="button"
                  >Go Back</a
                >
              </div>
        </div>
    </div>
</div>



{% include footer.html %}