---
title: FAQ
---

{% include head.html %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
    <div class="container">
      <a class="navbar-brand main-text" href="index.html"
        >Sophia's Magical Princess Party</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="characters.html">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rates.html">Rates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="photos.html">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cast.html">Cast</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
          <li class="nav-item active">
            <a class="nav-link nav-link-active" href="faq.html">FAQ</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-fluid" id="ella2">
    <div class="container pb-5 px-5 bg-white">
      <div class="row">
        <div class="col text-center pt-5 pb-2">
          <p class="display-3 head-text">FAQ</p>
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-12">
          <h3>When Should I Book?</h3>
          <p>
            About a month in advance is perfect! Try not to book more than 3 months in advance though.
          </p>
          <p>
            We will take “last minute” bookings, but be aware, availability is not guaranteed.
          </p>
            <hr>
          <h3>Should I Tip?</h3>
          <p>
            If you loved your party, tip your performer! It’s not required, 
            but tips are greatly appreciated as gratuity is not included. 
            You can tip in cash or virtually the same way you paid for the party.
          </p>
            <hr>                
          <h3>Is There A Deposit?</h3>
          <p>
            A $50 deposit is required for every party/event. 
            This may be refunded up until 2 weeks out from your party, but becomes non refundable afterwards. 
            Exceptions made for COVID related cancellations. 
          </p>
            <hr>        
          <h3>Can I Pay In Cash?</h3>
          <p>
            No! Payment must be made through PayPal, Venmo or other virtual options that you may discuss while booking with us. Tips however, may be in cash or virtual as well. 
          </p>
            <hr>        
          <h3>When Do I Pay?</h3>
          <p>
            Your $50 deposit is required when you book to hold your place. You may send the remainder of the total with your deposit or any time before the day of your party/event. 
            We will not arrive until full payment is received. Online bookings must be paid in full while booking.
          </p>
            <hr>        
          <h3>What Activities Do You Perform?</h3>
          <p>
            During a standard 1-hour party, we greet guests and take plenty of pictures, sing songs, read a story, sing happy birthday with the cake, and open presents if you wish. 
            We are flexible with activities so if there’s something you wish to add or take away, please discuss it with us while booking!
          </p>
            <hr>        
          <h3>Does the party have to be at my house?</h3>
          <p>
            No! We’ve done parties in many places such as private party rooms at arcades/play places, and we’ve also done parties outside in public parks. 
            Parties outside are actually preferred during the pandemic. A venue we also recommend to have a princess party in is Sprinkles In Pink.
          </p>
            <hr>        
          <h3>Can I Reschedule?</h3>
          <p>
            You may reschedule if our availability allows your rescheduling date.
            In the event you need to reschedule within a week of your original party date, you will be charged a $50 rescheduling fee.
          </p>
            <hr>        
          <h3>Do You Offer Discounts?</h3>
          <p>
            Check up on our social media pages and websites to see if there are any active discounts for the timing of your party. 
            Sometimes we’ll run discounts on newer performers so feel free to ask if that’s something you’re interested in! 
            We will also discuss discounts for bigger party/event packages.
          </p>
            <hr>        
          <h3>What Do I Need To Prepare?</h3>
          <p>
            We are an entertainment service only. We will not provide anything else such as decorations, food or photography, so please plan accordingly. 
          </p>
            <hr>        
          <h3>What’s The Best Age For A Princess Party?</h3>
          <p>
            Throughout the years, we have found that 3-6 years old are typically the best ages for a princess party; however, there is no age requirement or discrimination.
          </p>
        </div>
      </div>
    </div>  
  </div>
  

  {% include footer.html %}