---
title: Photos
---

{% include head.html %}
<!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '272891667644313');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=272891667644313&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="/photos.html">Photos</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cast">Cast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->

<div class="container-fluid" id="aurora">
  <div class="container text-center pt-5 bg-white">
    <h1 class="photos-text display-3 mb-0">Photos</h1>
  </div>
  <div class="container bg-white py-3 text-center">
  <div class="grid">
    <div class="grid-sizer">
      <div class="grid-item">
        <a href="https://i.ibb.co/cC9RhTF/anna-shoot.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/cC9RhTF/anna-shoot.jpg" alt="Snow Princess and a new friend" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/8KBxXdP/image3.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/8KBxXdP/image3.jpg" alt="The Ice Queen and her sister The Snow Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/w08MFYf/image3-5.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/w08MFYf/image3-5.jpg" alt="Cinderella and The Beauty Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/cXXQrqY/ariel-party-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/cXXQrqY/ariel-party-1.jpg" alt="The Little Mermaid on land with some friends" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/Y07TNkg/image4-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/Y07TNkg/image4-1.jpg" alt="The Sailor Prince and his bride, The Little Mermaid" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/vHf0wcL/image1-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/vHf0wcL/image1-1.jpg" alt="The Polynesian Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/RzCpdZz/image4-2-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/RzCpdZz/image4-2-1.jpg" alt="The Ice Queen using her powers" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/mNVYKLz/anna.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/mNVYKLz/anna.jpg" alt="The Snow Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/JHJ3z6Q/image2-7-orig.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/JHJ3z6Q/image2-7-orig.jpg" alt="Rapunzel" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/NSTS0t5/ariel-orig.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/NSTS0t5/ariel-orig.jpg" alt="The Little Mermaid" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/fFq5Hr0/image2-2.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/fFq5Hr0/image2-2.jpg" alt="The Polynesian Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/HtGghVp/image1-2-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/HtGghVp/image1-2-1.jpg" alt="The Beauty Princess" />
        </a>
      </div>
      <div class="grid-item">
        <a href="https://i.ibb.co/XDJFv3h/image6-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="https://i.ibb.co/XDJFv3h/image6-1.jpg" alt="The Sailor Prince and his bride, The Little Mermaid" />
        </a>
        
      </div>
    </div>
  </div> 
  </div>  
</div>

<!-- jQuery script to get the lightbox to work-->
<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
  



{% include footer.html %}