---
title: Photos
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="characters.html">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rates</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="photos.html">Photos</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cast.html">Cast</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <section id="photos">
        <img src="../assets/img/photosPage/anna-shoot.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image3.jpeg" alt="..." />
        <img src="../assets/img/photosPage/ariel-party_1.png" alt="..." />
        <img src="../assets/img/photosPage/image4_1.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image3-5.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image1-1.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image4-2_1.jpeg" alt="..." />
        <img src="../assets/img/photosPage/anna.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image2-7_orig.jpeg" alt="..." />
        <img src="../assets/img/photosPage/ariel_orig.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image2-2.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image1-2_1.jpeg" alt="..." />
        <img src="../assets/img/photosPage/image6-1.jpeg" alt="..." />
      </section>
    </div>
  </div>
</div>

{% include footer.html %}