---
title: Photos
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="index.html"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="characters.html">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rates</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="photos.html">Photos</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cast.html">Cast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid" id="aurora">
  <div class="container text-center pt-5 bg-white">
    <h1 class="photos-text display-3 mb-0">Photos</h1>
  </div>
  <div class="container bg-white py-3 text-center">
  <div class="grid">
    <div class="grid-sizer">
      <div class="grid-item">
        <a href="../assets/img/photosPage/anna-shoot.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/anna-shoot.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image3.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image3.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image3-5.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image3-5.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/ariel-party_1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/ariel-party_1.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image4_1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image4_1.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image1-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image1-1.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image4-2_1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image4-2_1.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/anna.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/anna.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image2-7_orig.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image2-7_orig.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/ariel_orig.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/ariel_orig.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image2-2.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image2-2.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image1-2_1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image1-2_1.jpg" alt="..." />
        </a>
      </div>
      <div class="grid-item">
        <a href="../assets/img/photosPage/image6-1.jpg" data-toggle="lightbox" data-gallery="princess-gallery">
          <img src="../assets/img/photosPage/image6-1.jpg" alt="..." />
        </a>
        
      </div>
    </div>
  </div> 
  </div>  
</div>


<!-- jQuery script to get the lightbox to work-->
<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
  



{% include footer.html %}