---
title: Rates
permalink: /rates/
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-pink static-top">
  <div class="container">
    <a class="navbar-brand main-text" href="/"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="characters.html">Characters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link-active" href="rates.html">Rates</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cast.html">Cast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<!-- Fix Jewel and remove blue bar -->
<div class="container-fluid" id="elsa">
  <div class="container pb-5 bg-white">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5 rates-text display-3">Rates</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sub-text">Video Messages</h2>
        <ul class="list-unstyled">
          <li>15 minute video call is $25</li>
          <li>30 minute video call is $45</li>
          <li>Pre-recorded video message is $50</li>
        </ul>
        <p class="lead text-muted">
          Characters are limited for these Video Message services
        </p>
      </div>
    </div>

  <hr>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sub-text">Social Distanced Parties</h2>
        <ul class="list-unstyled">
          <li>One character for 20 minutes is $120</li>
          <li>Two characters for 20 minutes is $160</li>
        </ul>
        <p class="lead text-muted">
          Please understand that to book a socially distanced party there are certain requirements that must be met.
          <br>
          <a href="/covid.html">Click here to read our requirements.</a>
        </p>
      </div>
    </div>
  
  <hr>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sub-text">Parties & Events</h2>
        <ul class="list-unstyled">
          <li>One character for one hour is $150</li>
          <li>One character for two hours is $275</li>
          <li>Two characters for one hour is $250</li>
          <li>Two characters for two hours is $320</li>
          <li>Three characters for one hour is $350</li>
          <li>Three characters for two hours is $420</li>
        </ul>
        <p class="lead text-muted">
          Parties and Events are currently modified to meet the mask requirements as laid out by the CDC and Gov. Abbott. 
          <br>
          Thank you for understanding.
        </p>
      </div>
    </div>

  <hr>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sub-text">Travel Fees</h2>
        <ul class="list-unstyled">
          <li>30+ minute drive is $50 fee</li>
          <li>45+ minute drive is $75 fee</li>
          <li>60+ minute drive is $100 fee</li>
          <li>75+ minute drive is $125 fee</li>
        </ul>
        <p class="lead text-muted">
          We charge a travel fee anywhere over 30 minutes away from our location
          of League City.
        </p>
      </div>
    </div>

  <hr>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sub-text"><u>READY TO BOOK?</u></h2>
        <p>Call or text: <a href="tel:832-441-6539">832-441-6539</a></p>
        <p>
          Or email:
          <a href="mailto:sophiasmagicalprincessparty@gmail.com"
            >sophiasmagicalprincessparty@gmail.com</a
          >
        </p>
      </div>
    </div>
      <div class="row">
      <div class="col-lg-12 text-center">
        <p class="h6 text-muted">
          If we don't have what you want listed, feel free to contact us so we can
          further assist you in booking the party you want! These are just the
          most common.
        </p>
      </div>
    </div>
  </div>  
</div>


{% include footer.html %}
