---
title: Rates
---

{% include head.html %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      >Sophia's Magical Princess Party</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="characters.html">Characters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="rates.html">Rates</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cast.html">Cast</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Rates</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Parties & Events</h2>
      <ul class="list-unstyled">
        <li>One character for one hour is $150</li>
        <li>One character for two hours is $275</li>
        <li>Two characters for one hour is $250</li>
        <li>Two characters for two hours is $320</li>
        <li>Three characters for one hour is $350</li>
        <li>Three characters for two hours is $420</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Video Messages</h2>
      <ul class="list-unstyled">
        <li>15 minute video call is $25</li>
        <li>30 minute video call is $45</li>
        <li>Pre-recorded video message is $25</li>
      </ul>
      <p class="lead text-muted">
        Characters are limited for these Video Message services
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Travel Fees</h2>
      <p class="lead text-muted">
        We charge a travel fee anywhere over 30 minutes away from our location
        of League City.
      </p>
      <ul class="list-unstyled">
        <li>30+ minute drive is $50 fee</li>
        <li>45+ minute drive is $75 fee</li>
        <li>60+ minute drive is $100 fee</li>
        <li>75+ minute drive is $125 fee</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p class="h6 text-muted">
        If we don't have what you want listed, feel free to contact us so we can
        further assist you in booking the party you want! These are just the
        most common.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><u>READY TO BOOK?</u></h2>
      <p>Call or text: <a href="tel:832-441-6539">832-441-6539</a></p>
      <p>
        Or email:
        <a href="mailto:sophiasmagicalprincessparty@gmail.com"
          >sophiasmagicalprincessparty@gmail.com</a
        >
      </p>
    </div>
  </div>
</div>

{% include footer.html %}
