  <footer class="footer bg-pink">
    <div class="container py-5 text-center">
      <div class="row">
        <div class="col-lg-12">
          <p class="footer-text">
            We're located in League City and also serve the Clear Lake and
            Galveston areas. Go to the 'Rates' tab to get more information
            on how we can serve you based on your location!
          </p>
          <p class="footer-text text-muted">
            <em>
              We offer a variety of unique,
              original characters from stories/fables that are not subject to copyright. We
              are a private company; unaffiliated with any major production
              companies or theme parks. Any similarities between these characters is
              completely coincidental and unintentional.
            </em>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/masonry.pkgd.min.js"></script>
  <script src="../assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/js/masonry.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
   grecaptcha.ready(function() {
       grecaptcha.execute('Y6LePg4kaAAAAABlA7so5_s6WPtGFyReu8UDmn06u', {action: 'homepage'})
       .then(function(token) {
         document.getElementById('captchaResponse').value = token;
       });
     });
</script>

</body>
</html>