  <footer class="footer mt-5 bg-dark text-white">
    <div class="container py-5 text-center">
      <div class="row">
        <div class="col-lg-12">
          <p class="footer-text">
            We're located in League City and also serve the Clear Lake and
            Galveston areas. Go to the 'Book A Party' tab to get more information
            on how we can serve you based on your location!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>Contact Us!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p>
            <strong>Call or Text: </strong
            ><a href="tel:832-441-6539">832-441-6539</a>
          </p>
          <p>
            <strong>Email: </strong
            ><a href="mailto:sophiasmagicalprincessparty@gmail.com"
              >sophiasmagicalprincessparty@gmail.com</a
            >
          </p>
        </div>
        <div class="col-lg-4">
          <a href="https://www.facebook.com/sophiasmagicalprincessparty/"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://www.instagram.com/sophiasprincessparty/?hl=en"
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="mailto:sophiasmagicalprincessparty@gmail.com"
            ><i class="far fa-envelope"></i
          ></a>
        </div>
        <div class="col-lg-4">
          <p>
            <strong>Facebook</strong>:
            <a href="https://www.facebook.com/sophiasmagicalprincessparty/"
              >Sophia's Magical Princess Party</a
            >
          </p>
          <p>
            <strong>Instagram</strong>:
            <a href="https://www.instagram.com/sophiasprincessparty/?hl=en"
              >@sophiasprincessparty</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>