<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" property=”og:description” content="Our mission is to make sure your little princess has the most magical experience possible, not only entertaining, but memorable as well." />
    <meta name=”robots” content="index, follow" />
    <meta name="title" property=”og:title” content="Sophia's Magical Princess Party" />
    <meta name="image" property=”og:image” content="https://sophiasmagicalprincessparty.com/assets/img/homePage/Trio-Hero.jpg"/>
    <meta name="url" property=”og:url” content="https://sopahiasmagicalprincessparty.com" />
    <meta name="site_name" property=”og:site_name” content="Sophia's Magical Princess Party" />
    <link rel=”canonical” href=”https://sopahiasmagicalprincessparty.com”/>
    

    <title>Sophia's Magical Princess Party</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/stickyFooter.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Merienda+One&family=Rancho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet"> 

    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet"> 

    <!-- FontAwesome kit code -->
    <script
      src="https://kit.fontawesome.com/35c961874c.js"
      crossorigin="anonymous"
    ></script>
    <script src="vendor/jquery/jquery.slim.min.js"></script>
  </head>
  <body>