<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Primary Meta Tags -->
    <meta name="title" content="Sophia's Magical Princess Party">
    <meta name="description" content="Our mission is to make sure your little princess has the most magical experience possible, not only entertaining, but memorable as well.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sophiasmagicalprincessparty.com/">
    <meta property="og:title" content="Sophia's Magical Princess Party">
    <meta property="og:description" content="Our mission is to make sure your little princess has the most magical experience possible, not only entertaining, but memorable as well.">
    <meta property="og:image" content="https://i.ibb.co/0DMHZyL/preview-image.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sophiasmagicalprincessparty.com/">
    <meta property="twitter:title" content="Sophia's Magical Princess Party">
    <meta property="twitter:description" content="Our mission is to make sure your little princess has the most magical experience possible, not only entertaining, but memorable as well.">
    <meta property="twitter:image" content="https://i.ibb.co/0DMHZyL/preview-image.jpg">

    <!-- Facebook -->
    <meta name="facebook-domain-verification" content="s9mzhpudghumndp7pz7hdlo8mif4su" />
    
    <link rel=”canonical” href=”https://sopahiasmagicalprincessparty.com”/>



    


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    

    <title>Sophia's Magical Princess Party</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/stickyFooter.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Merienda+One&family=Rancho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet"> 

    <!-- FontAwesome kit code -->
    <!-- <script
      src="https://kit.fontawesome.com/35c961874c.js"
      crossorigin="anonymous"
    ></script> -->
    
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/327bfef21d2fbf5da2686693d/c378dd83b236f66a36dba5fb9.js");</script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "EntertainmentBusiness",
        "name": "Sophia's Magical Princess Party",
        "image": "https://i.ibb.co/0DMHZyL/preview-image.jpg",
        "@id": "",
        "url": "https://sophiasmagicalprincessparty.com",
        "telephone": "832-441-6539",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "2313 Avenue F",
          "addressLocality": "Dickinson",
          "addressRegion": "TX",
          "postalCode": "77539",
          "addressCountry": "US"
        } ,
        "sameAs": [
          "https://www.facebook.com/sophiasmagicalprincessparty/",
          "https://sophiasmagicalprincessparty.com",
          "https://www.instagram.com/sophiasprincessparty/"
        ] 
      }
    </script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '453680605880018');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=453680605880018&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    <!-- reCaptcha Library -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LePg4kaAAAAABlA7so5_s6WPtGFyReu8UDmn06u"></script>
  </head>
  <body>