<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{page.title}} - Sophia's Magical Princess Party</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/stickyFooter.css" rel="stylesheet" />

    <!-- FontAwesome kit code -->
    <script
      src="https://kit.fontawesome.com/35c961874c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
